target/
.vagrant/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.iml
idea/
.idea/
node_modules/
workspace/fifa-2018-tweets/data-set/FIFA.csv
workspace/weather-in-australia/data-set/weatherAUS.csv
workspace/tp/
